In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_excel("record.xlsx")

In [4]:
df

        1 work nodes  2 work nodes  3 work nodes  4 work nodes
small      16.867314     12.447662     12.696982     12.837300
middle     21.543825     13.247132     13.093345     13.101878
large      83.683331     47.505300     35.475263     29.570622
huge      174.085651     98.774086     81.050092     63.924501